.footer {
    background: #2A2036;
    min-height: 19rem;
    padding: 0 5rem;
    color: rgb(215, 209, 209);
    padding-bottom: 20px;
    padding-top: 20px;
}

.footerMain {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &_title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &_Link_ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1rem;

        &_links {
            color: rgb(175, 173, 173);
        }

        &_links:hover {
            color: white;
        }
    }

    &_infoBox {
        max-width: 17.5rem;

        &_title {
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        &_mainText {
            max-width: 30rem;
            margin-bottom: 1rem;
        }
    }

    &_login {

        &_inputBox {
            position: relative;
            max-width: 80%;
            display: flex;
            align-items: center;

            &_input {
                width: 100%;
                height: 2rem;
                border: 1px solid white;
                background: transparent;
                border-radius: 4px;
                padding: 0 1rem;
                color: white;
            }

            &_icon {
                position: absolute;
                right: 0.5rem;
            }
        }

        &_text {
            max-width: 12rem;
            font-size: 0.8rem;
            margin: 1rem 0;
        }

        &_contackLogo {
            display: flex;
            gap: 1rem;
            font-size: 1.5rem;

            &_icon {
                cursor: pointer;
            }

            &_icon:hover {
                color: white;
            }
        }
    }

}

@media screen and (max-width:968px) {
    .footerMain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    .footer {
        padding: 2rem 2rem;

    }

    .footerMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 10px;
    }

    .footerMain_login_contackLogo {
        font-size: 10px;
    }
}