.shopCart_Box{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.shopCart_headTitle{
    font-size: 2rem;
    font-weight: bold;
    margin: 1.2rem;
}
.shopCart{
    display: flex;
    width: 100%;
    gap: 2rem;
}
.shopCart_productBox_cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

}
.shopCart_productBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    height: 300px;
    overflow: hidden; 

    &_imgBox_img{
        width: 100%;
        height: 200px;
        overflow: hidden;
        padding:10px;

        &_img{
            width: 100%;
            height: 100%;
            height: 200px;
        }
    }

    &_title {
            font-weight: bold;
            font-size: 0.9rem;
            color: #000;
            width: 90%;
            text-align: center;
      }
    &_price{
        font-size: 0.8rem;
        color: gray;
        margin-bottom: 10px;
    }
    
    &_btn{
        height: 40px;
        border-radius: 16px;
        background: #383838;
        margin-bottom: 1rem;
        border: none;
        color: white;
        font-weight: bold;
        width: 150px;
    }
    &_btn:hover{
        height: 40px;
        border-radius: 16px;
        background: white;
        border: none;
        color: #383838;
        font-weight: bold;
        border: 2px solid #383838;
    }

    
}

.shopCart_mainBox{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_img{
        width:100%;
        height: 600px;
        border-radius: 8px;
    }
    &_textCard{
        position: absolute;
        top: 20px;
        z-index: 4;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &_mainText{
            font-size: 4rem;
        }
        
        &_btn{
            width: 40%;
            height: 40px;
            border: none;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            background: linear-gradient(to right, #9140c7, #c740a3, rgb(0, 170, 255));
            color: white;
        }
    }
}

@media screen and (max-width:968px) {
    .shopCart_mainBox{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .shopCart_productBox_cards{
        grid-template-columns: 1fr 1fr;
    }
}